/* General styles */
.reasons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
}
/* Right container */
.reasons__main-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.reasons__main-text h2 {
  font-family: var(--font-family-primary);
  color: var(--dark-black-color);
  margin: 0 0 10px;
}

.reasons__main-text p {
  font-family: var(--font-family-secondary);
  color: var(--dark-gray-color);
  margin: 0;
}

/* Reasons section */
.reasons__section {
  display: flex;
  flex-wrap: wrap;
}

.reasons__section > div {
  display: flex;
  margin-bottom: 20px;
}

.reasons__section-text {
  font-family: var(--font-family-secondary);
}

.reasons__section-text h4 {
  color: var(--dark-black-color);
}

.reasons__section-text p {
  color: var(--dark-gray-color);
}

.reasons__section-icon {
  max-width: 40px;
  height: auto;
  margin-right: 20px;
  align-self: flex-start;
}

/* Adaptive design */
@media (max-width: 800px) {
  .reasons__section {
    justify-content: space-around;
    align-items: flex-start;
  }

  .reasons__section > div {
    flex: 1 1 100%;
    margin-bottom: 30px;
  }

  .reasons__section-text {
    flex: 1;
  }

  .reasons__left-container {
    display: none;
  }

  .reasons__right-container {
    max-width: 100%;
  }

  .reasons__main-text {
    text-align: justify;
    align-items: center;
    margin-bottom: 40px;
  }
}

@media (min-width: 800px) {
  .reasons__left-container {
    flex: 1;
    max-width: 35%;
    align-self: center;
  }

  .reasons__left-container img {
    max-width: 400px;
    height: auto;
  }

  .reasons__right-container {
    flex: 1;
    max-width: 60%;
  }

  .reasons__section {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .reasons__section > div {
    flex: 1 1 auto;
    margin-bottom: 10px;
  }

  .reasons__section-text {
    font-size: 15px;
    flex: 1;
  }
}

@media (min-width: 1000px) {
  .reasons__left-container {
    flex: 1;
    max-width: 40%;
    padding: 0 10px;
  }

  .reasons__left-container img {
    width: 300px;
    height: auto;
  }

  .reasons__right-container {
    flex: 1;
    max-width: 60%;
    padding-left: 10px;
  }

  .reasons__main-text {
    margin-bottom: 40px;
  }

  .reasons__section {
    align-items: flex-start;
  }

  .reasons__section > div {
    margin-bottom: 30px;
    flex: 1 1 calc(50% - 10px);
  }

  .reasons__section-text {
    flex: 1;
  }
}
