.lab__certification {
  background-color: var(--light-azure-color);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.lab__certification-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.lab__certification-info p {
  font-family: var(--font-family-secondary);
  color: var(--dark-gray-color);
  margin: 0;
  flex: 1;
}

.lab__certification-info img {
  width: 100px;
  height: auto;
  margin-right: 30px;
}

.lab__certification-image {
  gap: 30px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .lab__certification {
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    justify-content: center;
  }

  .lab__certification-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .lab__certification-info img {
    margin-top: 10px;
    margin-right: 0;
  }

  .lab__certification-image {
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .lab__certification-image img {
    max-width: 100px;
    height: 100px;
  }
}

@media (min-width: 900px) {
  .lab__certification {
    padding-left: 30px;
    justify-content: flex-start;
  }

  .lab__certification-info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .lab__certification-info p {
    padding-right: 30px;
  }
}
