.header__hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/header/hero-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .header__hero-title {
    text-align: center;
    color: white;
    margin-bottom: 20px;
  }
  .header__hero-title > h1 {
    font-weight: bold;
    font-size: 70px;
    margin-bottom: 5px;
  }
  
  .header__hero-title p {
    font-size: 20px;
  }
  
  .header__button__let-us-sail a {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 20px;
    background-color: #d0bd8c;
    color: #f1f0e8;
    text-decoration: none;
  }
  
  .header__button__let-us-sail a:hover {
    background-color: #f1f0e8;
    color: #d0bd8c;
  }
  